
*.zip
thai2fit/sample_data/sent_raw.csv
thai2fit/v0.1/pretrained_wiki/adam1_enc.h5
thai2fit/v0.1/pretrained_wiki/adam3_20_cyc_0.h5
thai2fit/v0.1/pretrained_wiki/adam3_enc.h5
thai2fit/v0.1/pretrained_wiki/TEXT_vec.pkl
thai2fit/v0.1/word2vec/thai2plot.pkl
thai2fit/v0.1/word2vec/thai2vec.vec
thai2fit/v0.1/word2vec/thai2vec.vocab
thai2fit/v0.2/pretrained_wiki/itos.pkl
thai2fit/v0.2/pretrained_wiki/thwiki_enc.h5
thai2fit/v0.2/pretrained_wiki/thwiki_enc2.h5
thai2fit/v0.2/pretrained_wiki/thwiki_model.h5
thai2fit/v0.2/pretrained_wiki/thwiki_model2.h5
thai2fit/v0.2/sentiment/itos_sent.pkl
thai2fit/v0.2/sentiment/sent_model.h5
thai2fit/v0.2/word2vec/thai2plot.pkl
thai2fit/v0.2/word2vec/thai2vec.bin
thai2fit/v0.2/word2vec/thai2vec.vec
thai2fit/v0.2/word2vec/thai2vec.vocab
thai2fit/v0.3/pretrained_wiki/itos_lstm.pkl
thai2fit/v0.3/pretrained_wiki/itos_qrnn.pkl
thai2fit/v0.3/pretrained_wiki/thwiki_model_lstm.pth
thai2fit/v0.3/pretrained_wiki/thwiki_model_qrnn.pth
thai2fit/v0.3/word2vec/thai2vec.bin
thai2fit/v0.3/word2vec/thai2vec.vocab
